extends layout

block content
    h1 @#{user.username}

    p
        a(href='/users') Back to everyone

    if following.length
        p @#{user.username} is following #{following.length} users:
        // TODO should say 'user' if only one! ;)
        ul.users
            for other in following
                li.user
                    form(action='/users/#{user.username}/unfollow', method='POST')
                        a(href='/users/#{other.username}') @#{other.username}
                        input(type='hidden', name='otherUsername', value='#{other.username}')
                        input(type='submit', class='unfollow', value='x')
    else
        p @#{user.username} isn't following anyone currently.

    if others.length
        form(action='/users/#{user.username}/follow', method='POST')
            p Add someone for @#{user.username} to follow:
            label
                select(name='otherUsername', required)
                    option(value='')
                    for other in others
                        option(value='#{other.username}') @#{other.username}
            input(type='submit', value='Follow')
    else
        p There's no one else left for @#{user.username} to follow!

    form(action='/users/#{user.username}', method='POST')
        p Edit this user:
        span @
        input(type='text', name='username', placeholder='#{user.username}', required,
            minlength=User.VALIDATION_INFO.username.minLength,
            maxlength=User.VALIDATION_INFO.username.maxLength,
            pattern=User.VALIDATION_INFO.username.pattern.source,
            title=User.VALIDATION_INFO.username.message,
            value=username||'')
        input(type='submit', value='Update')
        if error
            span.error &nbsp;#{error}

    form(action='/users/#{user.username}', method='POST', onsubmit='return confirm("Are you sure?");')
        p And if you're feeling destructive…
        input(type='hidden', name='_method', value='DELETE')
        input(type='submit', value='Delete User')
