extends layout

block content
    h1 Users

    if users.length
        p Here are the current users:
        ul.users
            for user in users
                li.user
                    a(href='/users/#{user.username}') @#{user.username}
    else
        p There are no users currently.

    form(action='', method='POST')
        p Create a new user:
        span @
        input(type='text', name='username', placeholder='username', required,
            minlength=User.VALIDATION_INFO.username.minLength,
            maxlength=User.VALIDATION_INFO.username.maxLength,
            pattern=User.VALIDATION_INFO.username.pattern.source,
            title=User.VALIDATION_INFO.username.message,
            value=username||'')
        input(type='submit', value='Create')
        if error
            span.error &nbsp;#{error}
